*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Krub', sans-serif;
  font-size: 72px;
  font-weight: 500;
  margin: 0;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  color: #484848;
}

nav, .section-slogan, #section-location-container, .section-classes, .section-welcomed, .committed, .section-collage, .section-schedule, .section-footer {
  border-top: 3px solid #484848;
  /* mobile */
  border-top: 6px solid #484848;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #8B1616;
  border-color: #414141;
  /* mobile */
  height: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav > img {
  /* mobile */
  padding: 0 10px;
  height: 45px;
}

nav img:nth-of-type(2) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  /* mobile */
  display: none;
}

nav div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto 20px;
  /* mobile */
  margin: 0;
  padding: 0 10px;
}

/* mobile */
a#m-nav {
  height: 100%;
  padding: 0 10px;
  width: 76px;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

/* mobile */
a#m-nav:hover ~ ul {
  display: initial;
  height: auto;
}

/* mobile */
a#m-nav > img {
  height: 50px;
  padding-top: 4px;
  display: block;
  margin: 0 auto;
}

nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  height: 100%;
  /* mobile */
  display: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #8B1616;
}

nav ul:first-of-type {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* mobile */
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

nav ul:last-of-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* mobile */
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

/* mobile */
nav li {
  margin: 20px auto;
}

.active {
  background-color: #414141;
  color: #FFC99D;
}

nav h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  /* mobile */
  font-size: 18px;
  font-weight: 600;
  color: #FFD1AD;
}

nav ul a {
  text-decoration: none;
  color: #FFC99D;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a:hover {
  background-color: #6b6b6b;
  color: #FFCFA8;
}

.splash {
  position: relative;
  background-color: #808080;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* mobile */
  width: 100%;
  height: 370px;
  margin-top: 60px;
  background-image: url("../images/doberman_pinscher-cutout-v8-BG-d-dark.png");
}

.splash:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  /* mobile */
  background-image: url("../images/doberman_pinscher-cutout-v8-doberman-leaves-bright-m2-stroke.png");
}

.splash-child {
  position: relative;
  z-index: 2;
  /* mobile */
  width: 85vw;
  height: 46.35253vw;
  background-size: cover;
  background-image: url("../images/title-outlines-m4-redline.svg");
  top: -10vh;
}

.splash h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 54px;
  letter-spacing: 0.02em;
}

.splash h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin: 5px 35px;
}

.section-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-color: #f0be65;
  /* mobile */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.slogan-box1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFEF7;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 50%;
          flex: 2 0 50%;
  /* mobile */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slogan-box1 h3 {
  text-align: center;
  line-height: 60px;
  font-weight: 400;
  position: relative;
  max-width: 860px;
  /* mobile */
  padding: 40px 20px;
  margin: 0;
  border: none;
  font-size: 18px;
}

.slogan-box1 span {
  font-weight: 600;
  color: #AD2532;
}

.slogan-box1 img:first-of-type {
  position: absolute;
  /* mobile */
  left: -20px;
}

.slogan-box1 img:nth-of-type(2) {
  position: absolute;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  /* mobile */
  right: -20px;
  bottom: 30px;
}

.slogan-box2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 40%;
          flex: 0 2 40%;
  background-size: 100%;
  background-position: center 70%;
  position: relative;
  /* mobile */
  height: 298px;
  background-image: url("../images/slogan-e-trans-mobile.jpg");
}

#map-marker-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-location-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-top-color: #006464;
  background-color: #dfd2ae;
}

.section-location {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100% 100%;
  /* mobile */
  height: 468px;
  background-image: url(../images/map-m-light.png);
  min-width: 360px;
}

.section-location h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  font-weight: 700;
  color: #545454;
  text-align: center;
  margin-top: 38px;
  background-color: #BAD2D2;
  padding: 5px 35px;
  border-radius: 20px;
  -webkit-box-shadow: -5px 10px 5px rgba(136, 136, 136, 0.5);
          box-shadow: -5px 10px 5px rgba(136, 136, 136, 0.5);
  /* mobile */
  max-width: 352px;
}

#map-marker-transition {
  position: absolute;
  top: -65px;
  z-index: 2;
}

@-webkit-keyframes boing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9, 0.7);
            transform: scale(0.9, 0.7);
  }
  20% {
    -webkit-transform: scale(1.1, 1.3);
            transform: scale(1.1, 1.3);
  }
  30% {
    -webkit-transform: scale(0.95, 0.85);
            transform: scale(0.95, 0.85);
  }
  37% {
    -webkit-transform: scale(1.03, 1.1);
            transform: scale(1.03, 1.1);
  }
  44% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes boing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9, 0.7);
            transform: scale(0.9, 0.7);
  }
  20% {
    -webkit-transform: scale(1.1, 1.3);
            transform: scale(1.1, 1.3);
  }
  30% {
    -webkit-transform: scale(0.95, 0.85);
            transform: scale(0.95, 0.85);
  }
  37% {
    -webkit-transform: scale(1.03, 1.1);
            transform: scale(1.03, 1.1);
  }
  44% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animated-boing {
  -webkit-animation: boing 1.5s 1;
          animation: boing 1.5s 1;
  -webkit-transform-origin: 50% 75%;
          transform-origin: 50% 75%;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* mobile */
  position: static;
}

/* mobile */
.location img {
  display: none;
}

.location h6 {
  margin: 0;
  color: #88000C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  /* mobile */
  font-size: 24px;
}

#glendora {
  top: 20.9%;
  left: 19.4%;
}

#alta-loma {
  top: 20.9%;
  left: 62.2%;
}

#la-verne {
  top: 39.5%;
  left: 32.9%;
}

#claremont {
  top: 41.9%;
  left: 41.7%;
}

#montclair {
  top: 55.1%;
  left: 47.6%;
}

#upland {
  top: 41.9%;
  left: 54.5%;
}

#ranchocuca {
  top: 39.5%;
  left: 62.6%;
}

#diamond-bar {
  top: 77.9%;
  left: 28.9%;
}

.section-classes {
  border-top-color: #f0be65;
  background-color: #FAFAFA;
  font-family: 'Krub', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #484848;
  letter-spacing: 1.5px;
  padding: 1px;
  /* mobile */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
  padding-top: 30px;
}

/* mobile */
.section-classes .button {
  margin-bottom: 20px;
}

.grid-classes {
  margin: 0 75px;
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* mobile */
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  margin: 0 20px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.grid-classes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-classes img {
  margin-right: 15px;
}

.grid-classes-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/dog-solid-grey.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.grid-classes a {
  color: inherit;
  text-decoration: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 293px;
  height: 69px;
  margin: 0 auto;
  margin-top: 20px;
  padding-right: 10px;
}

/* mobile */
.grid-classes a:nth-child(n+5) {
  display: none;
}

.grid-classes a:hover .grid-classes-icon {
  margin-left: 10px;
  background-image: url(../images/dog-solid-red.png);
}

.grid-classes a:hover {
  color: #830000;
  background-color: #F0F0F0;
  border-radius: 20px;
}

.button {
  background-color: #A60000;
  padding: 12px 54px;
  border-radius: 24px;
  color: #fff;
  font-family: 'Krub', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  width: 318px;
  text-align: center;
  margin: 45px auto;
  display: block;
}

.button:hover {
  background-color: #9B9B9B;
  color: #fff;
}

.section-welcomed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  height: 640px;
  background-image: url(../images/welcomed-e-c.jpg);
  background-size: cover;
  background-position: center -20px;
  border-top-color: #9A0808;
  -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4) inset;
          box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4) inset;
  /* mobile */
  height: 200px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* mobile */
@-webkit-keyframes side-scroll {
  0%, 20% {
    background-position: 0% 30%;
  }
  25%, 45% {
    background-position: 38% 30%;
  }
  50%, 70% {
    background-position: 70% 30%;
  }
  75%, 95% {
    background-position: 100% 30%;
  }
}
@keyframes side-scroll {
  0%, 20% {
    background-position: 0% 30%;
  }
  25%, 45% {
    background-position: 38% 30%;
  }
  50%, 70% {
    background-position: 70% 30%;
  }
  75%, 95% {
    background-position: 100% 30%;
  }
}

.section-welcomed h3 {
  font-size: 28px;
  font-weight: 400;
  color: #C83636;
  line-height: 1.6em;
}

.welcomed {
  z-index: 2;
  color: #fff;
  background-color: #fff;
  padding: 0px 50px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.4);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: 90%;
  /* mobile */
  display: none;
}

.committed {
  z-index: 3;
  background-color: #ededed;
  color: #484848;
  border-top-color: #006464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  /* mobile */
  height: auto;
  padding: 60px 0;
}

.committed img {
  -ms-flex-negative: 10;
      flex-shrink: 10;
  height: 100%;
}

.committed img:first-of-type {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* mobile */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* mobile */
.column .button {
  margin-bottom: 0;
}

.committed h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 50px 110px;
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
  color: #484848;
  /* mobile */
  margin: 0 15px;
  font-size: 20px;
}

.committed span {
  font-size: 46px;
  /* mobile */
  font-size: 30px;
}

.section-collage {
  width: 100%;
  background-image: url(../images/collage2.jpg);
  background-size: 100%;
  border-top-color: #f0be65;
  padding-bottom: 39%;
  /* mobile */
  background-image: url(../images/collage-m.jpg);
  padding-bottom: 169.5%;
}

.section-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-color: #006464;
  padding: 0px 200px;
  padding-bottom: 50px;
  /* mobile */
  padding: 0;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-color: #830000;
  border-top: none;
  background-color: #fff;
  /* mobile */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerA {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position-y: 40%;
  position: relative;
  /* mobile */
  height: 200px;
}

.footerB {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 50px;
}

.footerB h2 {
  font-family: 'Krub', sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #A60000;
  margin: 0;
  margin-bottom: 15px;
}

.footerB h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #484848;
  margin-bottom: 15px;
}

.footerB span {
  font-size: 24px;
  /* mobile */
  font-size: 26px;
}

.footerB h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #A60000;
  margin: 0;
  margin-bottom: 15px;
}

.footerB p {
  font-size: 11px;
  justify-self: flex-end;
  width: 300px;
  color: #484848;
  margin-top: 50px;
}
/*# sourceMappingURL=styles-m.css.map */